src/main/mule/battlesnake-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <http:listener-config name="battlesnake-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="battlesnake-api-config" api="api/battlesnake-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="3828176e-9ddb-46aa-a8cf-e6b42e24bf3d" file="application.yaml" />
	<os:config name="ObjectStore_Config" doc:name="ObjectStore Config" doc:id="a9c5d5bc-9c56-494f-9a5f-84be70bd080c" />
	<os:object-store name="Object_store" doc:name="Object store" doc:id="4b9c9242-776d-4f68-a3c9-8b7f11996448" persistent="false" config-ref="ObjectStore_Config" />
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="c0aca5a1-7569-482c-862a-78ddede4579e" />
	<flow name="battlesnake-api-main">
        <http:listener config-ref="battlesnake-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="battlesnake-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\:battlesnake-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiversion: "${battlesnake.config.apiversion}",
  author: "${battlesnake.config.author}",
  color: "${battlesnake.config.color}",
  head: "${battlesnake.config.head}",
  tail: "${battlesnake.config.tail}",
  version: "${battlesnake.config.version}",
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\start:application\json:battlesnake-api-config">
        <logger level="INFO" message="#['Start Game $(payload.game.id)']" />
		<logger level="INFO" doc:name="Logger" doc:id="b320da4e-842c-40a6-b021-db4e0247a345" message="#[payload]"/>
    </flow>
    <flow name="post:\move:application\json:battlesnake-api-config">
        <logger level="INFO" message="#['Move Game $(payload.game.id)']" />
		<logger level="INFO" doc:name="Logger" doc:id="1423365b-9bc2-4e2e-9f28-a85fa84de445" message="#[payload]"/>
        <os:retrieve doc:name="Retrieve" doc:id="7666bb28-91c8-4f25-b763-9f1a799c5041" key="move_snake" objectStore="Object_store" target="move_snake">
            <os:default-value ><![CDATA[#[readUrl('classpath://dw/move-snake.dwl', 'text/plain')]]]></os:default-value>
        </os:retrieve>
		<ee:dynamic-evaluate doc:name="Dynamic Evaluate" doc:id="58c156d8-adac-47be-ab5a-374b8bc0f6ab" expression="#[vars.move_snake]"/>
    </flow>

    <flow name="post:\end:application\json:battlesnake-api-config">
        <logger level="INFO" message="#['End Game $(payload.game.id)']" />
		<logger level="INFO" doc:name="Logger" doc:id="e9f0dd37-688a-4c17-9213-f7139eef0e9b" message="#[payload]"/>
    </flow>

    <flow name="dw">
        <http:listener config-ref="battlesnake-api-httpListenerConfig" path="/dw" >
			<http:error-response statusCode="401" />
		</http:listener>
        <logger message="#['updating/retrieving script::secret=' ++ (attributes.headers.secret default 'not provided')]" level="INFO"/>
		<validation:is-true doc:name="Is true" doc:id="e4054cae-d89d-46ae-9b93-4002309ab6e6" expression="#[attributes.headers.secret == p('admin.secret')]" message="no way"/>
		<choice doc:name="Choice" doc:id="1de948de-9fb4-41d0-8046-f1b2374d3fb1" >
			<when expression="#[attributes.method == 'POST']">
				<os:store doc:name="Store" doc:id="fe4234ec-05a5-4d0f-9eab-76c3b3f2d408" key="move_snake" objectStore="Object_store"/>
				<logger message="#[payload]"/>
			</when>
			<otherwise>
				<os:retrieve doc:name="Retrieve" doc:id="0f7e8fd1-c901-451a-a929-79932146fb4f" key="move_snake" objectStore="Object_store" >
					<os:default-value ><![CDATA[#[readUrl('classpath://dw/move-snake.dwl', 'text/plain')]]]></os:default-value>
				</os:retrieve>
			</otherwise>
		</choice>
    </flow>

</mule>
